.container {
  max-width: 82vw;
  margin: 8vw auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 90vh;
  border-radius: 1rem;
  overflow: hidden;
}
.header {
  font-size: 1.5rem;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 1rem 1rem;
  // margin-bottom: 2rem;
}

.content {
  display: flex;
}

.sidebar {
  // background-color: var(--color-grey-dark-1);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-grey-light-1);
  flex: 1 0 82%;

  .detail {
    display: flex;
    margin: var(--margin);
    padding-bottom: 6rem;
    border-bottom: var(--line);
  }

  .description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
    font-size: 1.4rem;
    font-family: inherit;
    border-radius: 1rem;
  }

  .user-reviews {
    background-color: yellowgreen;
    flex: 1;
    border-radius: 1rem;
  }
}
